@charset "utf-8";

// -----------------------------------------------------------------------------
// Libraries
// -----------------------------------------------------------------------------
@import "normalize-scss";
@import "kollegorna-design-system";
@import "partials/syntax";


$img-url-about-hero: "about-hero.svg";


.button {
	border-color: currentColor;
}

hr {
	border-color: darken( $ds-color-background, 5 );
}

a {
	color: $ds-color-green;
}

.visuallyhidden {
  @extend %ds-visuallyhidden;
}



// -----------------------------------------------------------------------------
// Index
// -----------------------------------------------------------------------------
// .index
%_l-index {
  padding: 20px 0;
  position: relative;

  @media (min-width: 1024px) {
    height: 100vh;
    padding: 0;
  }

  @media (min-width: 1600px) {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

// .index__intro,
// .index__blog,
// .index__projects,
// .index__about
%_l-index__content-setup {
  @media (min-width: 768px) {
    padding: 25px;
  }
  @media (min-width: 1024px) {
    height: 100vh;
    overflow: auto;
  }
  @media (min-width: 1280px) {
    padding: 40px;
  }
}

// .index__intro
%_l-index__intro {
  border-bottom: 1px solid darken( $ds-color-background, 5 );
  margin-bottom: ds-rem-calc(35px);
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 1024px) {
    border-bottom: 0;
    border-left: 1px solid darken( $ds-color-background, 5 );
    float: right;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    width: 25%;
  }
}

// .index__blog
%_l-index__blog {
  @media (min-width: 768px) {
    float: left;
    width: 50%;
  }

  @media (min-width: 1024px) {
    width: 45%;
  }
}

%_l-index__projects {
  @media (min-width: 768px) {
    border-left: 1px solid darken( $ds-color-background, 5 );
    float: left;
    width: 50%;
  }

  @media (min-width: 1024px) {
    width: 30%;
  }
}

%_l-index__about {
  border-top: 1px solid darken( $ds-color-background, 5 );
  clear: both;

  @media (min-width: 1024px) {
    border-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  @media (min-width: 1024px) {
    float: left;
    width: 75%;
  }
}

%_l-h1 {
	font-size: ds-rem-calc(32);
    letter-spacing: ds-rem-calc(-1);
    font-weight: 700;
}

// Styles
.index {
  @extend %_l-index;
  -ms-overflow-style: none;
}

.index__about {
	display: none;
}
.index__about:target{
	display: block;
}
@media (min-width: 1024px) {
	.index__about:target ~ .index__blog,
	.index__about:target ~ .index__projects, {
		display: none;
	}
}

.index__intro__inner,
.index__blog,
.index__projects,
.index__about {
    @media (min-width: 768px) {
      padding: 25px;
    }
    @media (min-width: 1280px) {
      padding: 40px;
    }
}
.index__intro,
.index__blog,
.index__projects,
.index__about {
    @media (min-width: 1024px) {
      height: 100vh;
      overflow: auto;
    }
    -ms-overflow-style: none;
}
.index__blog,
.index__projects {
  overflow-y: scroll;

  // http://stackoverflow.com/questions/7855590/how-can-i-prevent-scroll-bars-from-being-hidden-for-os-x-trackpad-users-in-webki
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 0;
  }
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    border: 2px solid $ds-color-background; // should match background, can't be transparent
    background-color: none;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid $ds-color-background; // should match background, can't be transparent
    background-color: darken($ds-color-background, 4);
  }
}
.index__intro {
  @extend %_l-index__intro;
  background: image-url('#{$img-url-about-hero}') repeat left top;

  &__inner {
      width: 100%;
      display: block;
      background-color: $ds-color-background;
	  @media (max-width: 1024px) {
	    margin-bottom: 80px;
	  }
	  @media (max-width: 768px) {
        padding: 25px;
      }
  }

  .small {
    @extend small;
    font-family: $ds-font-family-complementary;
    font-style: italic;
	color: $ds-color-text-light;
  }
}

.index__lead {
    font-size: ds-rem-calc(22);
    font-weight: 600;
    letter-spacing: ds-rem-calc(-0.5);
}

.index__logo {
  max-width: 130px;
  display: block;
  margin: 0 auto ds-rem-calc(35px);

  img {
    width: 100%;
    display: block;
  }
}

.index__list {
  ul {
    list-style: none;
    margin: 0;
  }

  h2 {
	@extend %_l-h1;
    margin-top: 0;
    margin-bottom: ds-rem-calc(35px);
  }

  h3 {
    font-size: ds-rem-calc(22);
    font-weight: 600;
    letter-spacing: ds-rem-calc(-0.5);
    margin: 0;
  }

  li {
    border-bottom: 1px dotted darken( $ds-color-background, 10 );
    margin-bottom: 20px;

    &:last-child {
      border: 0;
      margin-bottom: 0;
    }
  }

  p {
    font-size: 1rem;
  }

  time {
    color: $ds-color-text-light;
  }

  [property="author"] {
    &:after {
      content: " + ";
    }

    &:last-child:after {
      content: "";
    }
  }

  @media (min-width: 768px) {
    line-height: 28px;
    margin-bottom: 25px;

    li {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 28px;
    }
  }
  @media (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.index__blog {
  @extend %_l-index__blog;

  .index__list {
    @media (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (min-width: 1280px) {
      padding-left: 40px;
    }
  }
}

.index__blog__rss {
  display: inline-block;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 10px;
}

.index__projects {
  @extend %_l-index__projects;

  .index__list {
    @media (max-width: 768px) {
      border-top: 1px solid darken( $ds-color-background, 5 );
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 40px;
    }
  }
}

.index__about {
  @extend %_l-index__about;
  position: relative;
  text-align: center;

  @media (min-width: 1024px) {
    position: absolute;
  }
  @media (max-width: 1024px) {
	  background-color: darken( $ds-color-background, 2 );
	  border-bottom: 1px solid darken( $ds-color-background, 5 );
	  padding-top: 50px;
	  margin-bottom: ds-rem-calc(35px);
  }
  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__inner {
	  max-width: 640px;
      margin-left: auto;
      margin-right: auto;
  }

  h2 {
    @extend %_l-h1;
  }

  i {
	 font-family: $ds-font-family-complementary;
	 font-style: italic;
	 color: $ds-color-text-light;
  }

  &__btns a {
    margin: ds-rem-calc(10px);
  }
}
.index__about-toggle {
	color: $ds-color-green;
	border: 1px solid;
	border-radius: 50%;
	display: block;
	height: 50px;
	width: 50px;
	padding: 10px;
	position: absolute;
	left: 40px;
	top: 40px;

	&:hover,
	&:focus{
		color: $ds-color-heading;
	}
	svg{
		width: 100%;
		height: 100%;
		fill: currentColor;
		display: block;;
	}
	 @media (max-width: 1024px) {
		 width: 30px;
		 height: 30px;
		 top: 20px;
		 left: 50%;
		 margin-left: -15px;
		 padding: 5px;
	 }
  }

// -----------------------------------------------------------------------------
// Blog
// -----------------------------------------------------------------------------
.blog-wrapper {
  background-image: image-url('#{$img-url-about-hero}');
  background-repeat: repeat-x;
  background-size: auto 700px;
  background-position: left bottom -500px;
  border-bottom: 1px solid transparent;
}
.logo {
  width: ds-rem-calc(140px);
  margin: ds-rem-calc(35px) auto;
}

.blog-post {
  padding: 0 25px 200px;
  .post {
    margin: 0 auto;
    max-width: 768px;

		h1 {
			line-height: 1.2;
		}

    h2 {
      margin: ds-rem-calc(30px) 0 ds-rem-calc(15px) 0;
    }

    h3 {
      margin: ds-rem-calc(20px) 0 ds-rem-calc(10px) 0;
    }

		a {
			@extend .underlined;
			color: $ds-color-text;
		}

		p,
		li,
		blockquote {
			line-height: 1.8;
		}

		ul {
			list-style-position: outside;
		}
  }
}

.pagination {
  @extend %ds-clearfix;
  text-align: center;

  a {
    @extend %ds-button;
    height: 30px;
    line-height: 30px;
    padding: 0 ds-rem-calc(8px);
    width: 30px;
  }
}

.pagination__previous {
  float: left;
}

.pagination__page-number {
  color: $ds-color-text-light;
  font-size: .8em;
}

.pagination__next {
  float: right;
}

// A .post-item class wraps .post in blog post listing.
.post-item {
  padding: ds-rem-calc(40px) 0;

  &:nth-child(odd) {
    background: rgba(0, 0, 0, .03);
  }

  .post {
    margin: 0 auto;
    max-width: 760px;
  }
}
.post-header {
  word-wrap: break-word;
  text-align: center;
  margin-bottom: ds-rem-calc(35px);
}
.post--post {
  img {
    @extend .polaroid;
  }
}

.post--post ul li,
.post--post ol li {
  margin-bottom: .5rem;
}

.post--link {
  h1 {
    a {
      &:after {
        content: " → ";
      }
      &:hover:after {
        display: inline-block;
        padding-left: 20px;
      }
    }
  }
}

.post-image {
  img {
    @extend .polaroid;
  }
}

.post-video {
  @extend .polaroid;
}

.post-content {
  figure,
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  img {
    @extend .polaroid;
  }
}

.post-read-more {
  padding-top: ds-rem-calc(15px);
}

.post-footer {
  border-top: 1px solid rgba(0, 0, 0, .1);
  display: inline-block;
  margin-top: ds-rem-calc(22px);
  padding-top: ds-rem-calc(15px);
  position: relative;
  width: 100%;

  a {
    border: 0;
  }
}

.post-author {
  @extend %ds-clearfix;

  margin-bottom: 15px;
}

.post-author__image {
  float: left;
  height: 50px;

  img {
    @extend .polaroid;
    margin-right: ds-rem-calc(15px);
    max-width: 50px;
    padding: 3px;
    border-radius: 50px;
  }
}

.post-author__name {
  font-family: $ds-font-family-complementary;
	font-weight: 300;
  float: left;
  line-height: 50px;
}

.post-meta {
  position: absolute;
  top: 10px;
  right: 0;
}

.post-date,
.post-tags {
  font-size: ds-rem-calc(16px);
  font-family: $ds-font-family-complementary;
}

.post-date {
  color: $ds-color-text-light;
}

.post-tags {
  color: $ds-color-text;
}

.post-via {
  font-size: ds-rem-calc(14px);
  position: absolute;
  right: 0;
  top: 43px;
}

.disqus{
	font-family: $ds-font-family-complementary;
    font-style: italic;
	color: $ds-color-text-light;
	text-align: center;
	padding-top: 2em;

	.no-js & {
		display: none;
	}
}
.center {
  display: block;
  margin: ds-rem-calc(35px) auto;
}
// Code boxes
pre,
code {
  border-radius: 3px;
  background-color: #fff;
  padding: 3px 6px;
}
.highlight {
  background: #fff;
}
code {
  font-size: .8em;
}
pre {
  overflow-x: scroll;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, .1);
  border: 1px solid darken($ds-color-background, 10);
  padding: ds-rem-calc(16px);

  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
