@charset "utf-8";

// -----------------------------------------------------------------------------
// Libraries
// -----------------------------------------------------------------------------
@import "normalize-scss";
@import "kollegorna-design-system";
// -----------------------------------------------------------------------------
// Index
// -----------------------------------------------------------------------------
// .index
%_l-index {
  padding: 20px 0;
  position: relative;

  @media (min-width: 1024px) {
    height: 100vh;
    padding: 0;
  }

  @media (min-width: 1600px) {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

// .index__intro,
// .index__blog,
// .index__projects,
// .index__about
%_l-index__content-setup {
  @media (min-width: 768px) {
    padding: 25px;
  }

  @media (min-width: 1024px) {
    height: 100vh;
    overflow: auto;
  }

  @media (min-width: 1280px) {
    padding: 40px;
  }
}

// .index__intro
%_l-index__intro {
  border-bottom: 1px dashed $ds-color-border;
  margin-bottom: ds-rem-calc(35px);
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 1024px) {
    border-bottom: 0;
    border-left: 1px dashed $ds-color-border;
    float: right;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    width: 25%;
  }
}

// .index__blog
%_l-index__blog {
  @media (min-width: 768px) {
    float: left;
    width: 50%;
  }

  @media (min-width: 1024px) {
    width: 45%;
  }
}

%_l-index__projects {
  @media (min-width: 768px) {
    border-left: 1px dashed $ds-color-border;
    float: left;
    width: 50%;
  }

  @media (min-width: 1024px) {
    width: 30%;
  }
}

%_l-index__about {
  border-top: 1px dashed $ds-color-border;
  clear: both;

  @media (min-width: 1024px) {
    border-top: 0;
    margin-left: 0;
    margin-right: 0;

    .js & {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    float: left;
    width: 75%;
  }
}


// Styles

.index {
  @extend %_l-index;
  -ms-overflow-style: none;
}
.index__intro,
.index__blog,
.index__projects,
.index__about {
  @extend %_l-index__content-setup;
  -ms-overflow-style: none;
}
.index__blog,
.index__projects {
  overflow-y: scroll;

  // http://stackoverflow.com/questions/7855590/how-can-i-prevent-scroll-bars-from-being-hidden-for-os-x-trackpad-users-in-webki
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 0;
  }
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    border: 2px solid $ds-color-background; // should match background, can't be transparent
    background-color: darken($ds-color-background, 4);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid $ds-color-background; // should match background, can't be transparent
    background-color: darken($ds-color-background, 8);
  }
}
.index__intro {
  @extend %_l-index__intro;

  h1 {
    font-size: 1rem;
    margin: 0;
  }

  p {
    @media (max-width: 1024px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (min-width: 1280px) {
      padding-right: 40px;
    }
  }

  .small {
    @extend small;
  }

  .index__about-toggle {
    @media (max-width: 1024px) {
      margin-bottom: 25px;
    }
  }
  // SHAME
  @media (max-width: 1024px) {
    .index__about-toggle {
      display: none;
    }
  }
}

.index__logo {
  -webkit-animation: index__logo 8s ease infinite;
  -moz-animation: index__logo 8s ease infinite;
  animation: index__logo 8s ease infinite;
  background: linear-gradient(270deg, $ds-color-orange, darken($ds-color-orange, 15%));
  background-size: 400% 400%;
  border-radius: 50%;
  display: block;
  margin: 0 auto ds-rem-calc(35px);
  padding: 3px;
  width: 166px;
  span {
    background: $ds-color-background;
    border-radius: 50%;
    display: block;
    padding: 20px 0;
  }

  img {
    float: none;
    max-width: 123px;
  }
}

@-webkit-keyframes index__logo {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@-moz-keyframes index__logo {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes index__logo {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.index__list {
  ul {
    list-style: none;
    margin: 0;
  }

  h2 {
    font-size: 1.85rem;
    margin-top: 0;
    margin-bottom: ds-rem-calc(35px);
    position: relative;
  }

  h3 {
    font-size: 1em;
    font-weight: $ds-font-weight;
    margin: 0;

    a {
      color: $ds-color-orange;

      &:hover,
      &:focus {
        color: #403E35;
      }
    }
  }

  li {
    border-bottom: 1px dashed $ds-color-border;
    margin-bottom: 20px;

    &:last-child {
      border: 0;
      margin-bottom: 0;
    }
  }

  p {
    @extend small;
  }

  time {
    color: $ds-color-text-light;
  }

  [property="author"] {
    &:after {
      content: " + ";
    }

    &:last-child:after {
      content: "";
    }
  }

  @media (min-width: 768px) {
    line-height: 28px;
    margin-bottom: 25px;

    li {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 28px;
    }
  }

  @media (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.index__blog {
  @extend %_l-index__blog;

  .index__list {
    @media (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (min-width: 1280px) {
      padding-left: 40px;
    }
  }
}

.index__blog__rss {
  display: inline-block;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 10px;
}

.index__projects {
  @extend %_l-index__projects;

  .index__list {
    @media (max-width: 768px) {
      border-top: 1px dashed $ds-color-border;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 40px;
    }
  }
}

.index__about {
  @extend %_l-index__about;
  position: relative;
  text-align: center;

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 1024px) {
    position: absolute;
  }

  h2 {
    @extend %h1;
    small {
      display: block;
      color: $ds-color-text-light;
      font-style: italic;
      margin-top: 20px;
    }
  }

  p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    a {
      margin-right: ds-rem-calc(35px);
    }
    a:last-child {
      margin-right: none;
    }
  }

  .js & .index__about-toggle {
    display: none;

    @media (min-width: 1024px) {
      border: 1px solid $ds-color-orange;
      border-radius: 50%;
      display: block;
      height: 50px;
      width: 50px;
      padding: 10px;
      position: absolute;
      left: 40px;
      top: 40px;
    }
  }
}
.visuallyhidden {
  @extend %ds-visuallyhidden;
}
// -----------------------------------------------------------------------------
// Blog
// -----------------------------------------------------------------------------
.logo {
  margin: ds-rem-calc(64px) auto;
  width: 92px;
}
.blog-post {
  .post {
    margin: 0 auto;
    max-width: 768px;
    h2 {
      margin-top: ds-rem-calc(35px);
    }
  }
}

.pagination {
  @extend %ds-clearfix;
  text-align: center;

  a {
    @extend %ds-button;
    //@extend %border-radius(50%);
    height: 30px;
    line-height: 30px;
    padding: 0 ds-rem-calc(8px);
    width: 30px;
  }
}

.pagination__previous {
  float: left;
}

.pagination__page-number {
  color: $ds-color-text-light;
  font-size: .8em;
}

.pagination__next {
  float: right;
}

// A .post-item class wraps .post in blog post listing.
.post-item {
  padding: ds-rem-calc(40px) 0;

  &:nth-child(odd) {
    background: rgba(0, 0, 0, .03);
  }

  .post {
    margin: 0 auto;
    max-width: 760px;
  }
}
.post-header {
  text-align: center;
}
.post--post {
  img {
    @extend .polaroid;
  }
}

.post--post ul li,
.post--post ol li {
  margin-bottom: .5rem;
}

.post--link {
  h1 {
    a {
      &:after {
        //color: $ds-color-link;
        content: " → ";
      }

      &:hover:after {
        //color: darken($ds-color-link, 10);
        display: inline-block;
        padding-left: 20px;
      }
    }
  }
}

.post-image {
  img {
    @extend .polaroid;
  }
}

.post-video {
  @extend .polaroid;
}

.post-content {
  figure,
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .post--post & {
    figure {
      @extend .polaroid;
    }
  }
}

.post-read-more {
  padding-top: ds-rem-calc(15px);

}

.post-footer {
  border-top: 1px solid rgba(0, 0, 0, .1);
  display: inline-block;
  margin-top: ds-rem-calc(22px);
  padding-top: ds-rem-calc(15px);
  position: relative;
  width: 100%;

  a {
    border: 0;
  }
}

.post-author {
  @extend %ds-clearfix;
  //float: left;

  margin-bottom: 15px;

  a {
    color: #403E35;
  }
}

.post-author__image {
  float: left;
  height: 50px;

  img {
    @extend .polaroid;
    //@extend border-radius(50%);
    margin-right: ds-rem-calc(15px);
    max-width: 50px;
    padding: 3px;
  }
}

.post-author__name {
  float: left;
  font-size: .8em;
  height: 25px;
  line-height: 30px;
}

.post-meta {
  //left: 67px;
  position: absolute;
  //top: 40px;
  top: 18px;
  right: 0;
}

.post-date,
.post-tags {
  font-size: ds-rem-calc(16px);
}

.post-date {
  color: $ds-color-text-light;
}

.post-tags {
  color: $ds-color-text;
}

.post-via {
  font-size: ds-rem-calc(14px);
  position: absolute;
  right: 0;
  top: 43px;
}

#disqus_thread {
  padding-top: 2em;
}

// code boxes
pre,
code {
  font-size: $ds-font-size-small;
  border-radius: 3px;
  background-color: #fff;
  padding: 3px 6px;
}
.highlight {
  background: #fff;
}
pre {
  overflow-x: scroll;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, .1);
  border: 1px solid darken($ds-color-background, 10);
  padding: ds-rem-calc(16px);

  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
