

$app-breakpoint-small: 480px !default;
$app-breakpoint-medium: 768px !default;
$app-breakpoint-large: 1024px !default;
$app-breakpoint-xlarge: 1280px !default;
$app-breakpoint-xxlarge: 1600px !default;
