<%= partial "global-head" %>

<div class="page-content">
  <%= yield %>
</div>

<%= javascript_include_tag "application" %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.1/gist-embed.min.js"></script>
<%= partial "global-footer" %>
