/* line 1, ../sass/_app.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/_app.scss */
html {
  background: #f4e7b7;
  color: #5b5541;
  font: 400 100%/1.5 "ff-dagny-web-pro", sans-serif;
  /* 16px */
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 16, ../sass/_app.scss */
body {
  font-size: 1em;
  /* 18px */
  line-height: 1.333;
  /* 30px */
  margin: 0 auto;
  max-width: 42em;
  padding: 4em 2em;
}

/* line 29, ../sass/_app.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #403e35;
  font-weight: 700;
}
/* line 32, ../sass/_app.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000;
}
/* line 34, ../sass/_app.scss */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  border: 0;
  color: #000;
}

/* line 41, ../sass/_app.scss */
a {
  color: #f77916;
  text-decoration: none;
}
/* line 44, ../sass/_app.scss */
a:active {
  border-bottom-color: #403e35;
  color: #403e35;
}
/* line 49, ../sass/_app.scss */
a:hover, a:active {
  outline: none;
}
/* line 53, ../sass/_app.scss */
a:focus, a:hover {
  border-bottom: 2px solid #f77916;
}
/* line 56, ../sass/_app.scss */
a:link {
  -webkit-tap-highlight-color: #403e35;
}

/* line 61, ../sass/_app.scss */
p {
  margin: 0 0 1.2em;
  /* 0 0 24px */
}

/* line 66, ../sass/_app.scss */
hr {
  border: 0;
  border-top: 1px solid rgba(91, 85, 65, 0.25);
  clear: both;
  display: block;
  height: 1px;
  margin: 1.5em 0;
  /* 30px */
}

/* line 75, ../sass/_app.scss */
blockquote {
  border-left: 4px solid #403e35;
  padding: 0.3em 0 0.3em 1.2em;
  /* 6px 0 6px 24px */
  margin: 0 0 1.2em;
  /* 0 0 24px */
}

/* line 82, ../sass/_app.scss */
blockquote,
q {
  quotes: none;
}
/* line 85, ../sass/_app.scss */
blockquote:before, blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 91, ../sass/_app.scss */
blockquote p:last-child {
  margin-bottom: 0;
}

/* line 95, ../sass/_app.scss */
q {
  font-style: italic;
}

/* line 99, ../sass/_app.scss */
cite {
  color: #403e35;
  font-style: italic;
}

/* line 104, ../sass/_app.scss */
blockquote cite {
  color: #888;
}

/* line 108, ../sass/_app.scss */
strong {
  color: #403e35;
  font-weight: 700;
}

/* line 114, ../sass/_app.scss */
em,
dfn {
  color: #403e35;
  font-style: italic;
}

/* line 119, ../sass/_app.scss */
dfn {
  font-weight: 700;
}

/* line 124, ../sass/_app.scss */
abbr,
acronym {
  border-bottom: 1px dotted #222222;
}

/* line 128, ../sass/_app.scss */
address {
  display: block;
  font-style: italic;
  margin: 0 0 0.6em;
  /* 0 0 12px */
}

/* line 134, ../sass/_app.scss */
del {
  color: #888;
  text-decoration: line-through;
}

/* line 139, ../sass/_app.scss */
mark {
  background: #F2594B;
  color: #fff;
  font-weight: 400;
  padding: 0 0.15em;
  /* 3px */
}

/* line 146, ../sass/_app.scss */
ins {
  background: #B5D5FF;
  padding: 0 0.15em;
  /* 3px */
  text-decoration: none;
}

/* line 152, ../sass/_app.scss */
pre {
  padding: .6em;
  /* 12px */
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 160, ../sass/_app.scss */
code {
  margin: 0.6em 0;
  /* 12px */
}

/* line 168, ../sass/_app.scss */
pre,
code,
tt,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* line 173, ../sass/_app.scss */
sup,
sub {
  line-height: 90%;
}

/* line 177, ../sass/_app.scss */
sub {
  font-size: smaller;
  vertical-align: sub;
}

/* line 182, ../sass/_app.scss */
sup {
  font-size: smaller;
  vertical-align: super;
}

/* line 191, ../sass/_app.scss */
small {
  font-size: 0.7em;
  /* 14px */
}

/* line 195, ../sass/_app.scss */
kbd {
  background: #ccc;
  border: 1px solid #acacac;
  border-radius: 4px;
  color: #666;
  font: normal normal 0.8em/90% sans-serif;
  /* 16px/90% */
  margin: 0 0.2em;
  /* 0 4px */
  padding: 0.1em 0.3em;
  /* 2px 6px */
}

/* line 205, ../sass/_app.scss */
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/* line 211, ../sass/_app.scss */
::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/** 5. LISTS ---------- */
/* line 220, ../sass/_app.scss */
li ul,
li ol {
  margin: 0 0 0.6em 1.2em;
  /* 0 0 12px 24px */
}

/* line 225, ../sass/_app.scss */
ul,
ol {
  list-style: disc outside;
  margin: 0 0 1.2em;
  /* 0 0 24px */
  padding: 0;
}

/* line 231, ../sass/_app.scss */
ol {
  list-style: decimal inside;
}

/* line 235, ../sass/_app.scss */
dl {
  margin: 0;
}

/* line 239, ../sass/_app.scss */
dt {
  color: #403e35;
  font-weight: 700;
}

/* line 244, ../sass/_app.scss */
dd {
  margin: 0 0 0.6em;
  /* 0 0 12px */
}

/* line 249, ../sass/_app.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
}

/** 6. MEDIA ---------- */
/* line 257, ../sass/_app.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 258, ../sass/_app.scss */
audio:not([controls]) {
  display: none;
}

/* line 259, ../sass/_app.scss */
[hidden] {
  display: none;
}

/* line 261, ../sass/_app.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* Fluid images: http://unstoppablerobotninja.com/entry/fluid-images/ */
/* line 270, ../sass/_app.scss */
img,
object,
embed {
  max-width: 100%;
}

/* Use clearfix on figure */
/* line 275, ../sass/_app.scss */
figure:before, figure:after {
  content: "";
  display: table;
}

/* line 276, ../sass/_app.scss */
figure:after {
  clear: both;
}

/* line 277, ../sass/_app.scss */
figure {
  *zoom: 1;
}

/* line 279, ../sass/_app.scss */
figure {
  margin: 0 0 1.2em;
  /* 0 0 24px */
}

/* line 283, ../sass/_app.scss */
figure img {
  float: left;
}

/* line 287, ../sass/_app.scss */
figcaption {
  clear: both;
  color: #666;
}

/** 7. TABLES ---------- */
/* line 294, ../sass/_app.scss */
table {
  margin: 0 0 0.6em;
  /* 0 0 12px */
  width: 100%;
}

/* line 299, ../sass/_app.scss */
caption {
  font-size: 1.2em;
  /* 24px */
  font-weight: 700;
  line-height: 1.3333;
  /* 32px */
  text-align: left;
}

/* line 306, ../sass/_app.scss */
tbody {
  border: 0;
}

/* line 310, ../sass/_app.scss */
tbody th {
  border: 0;
}

/* line 314, ../sass/_app.scss */
thead th {
  text-align: left;
}

/* line 318, ../sass/_app.scss */
th {
  font-weight: 700;
  text-align: left;
}

/* line 324, ../sass/_app.scss */
th,
td {
  padding: 0;
}

/* line 329, ../sass/_app.scss */
td,
td img {
  vertical-align: top;
}

/* line 333, ../sass/_app.scss */
tfoot {
  font-style: italic;
}
