  <meta property="og:site_name" content="{{ site.data.meta.title }}">
{% if page.meta_title %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.meta_title }}">
{% else if page.title %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ page.title }}">
{% else %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.data.meta.title }}">
{% endif %}
{% if page.meta_description %}
  <meta property="og:description" content="{{ page.meta_description }}">
{% else %}
  <meta property="og:description" content="{{ site.data.meta.description }}">
{% endif %}
  <meta property="og:url" content="{{ site.url }}{{ page.url | remove:'index.html' }}">
{% if page.meta_image %}
  <meta property="og:image" content="{% asset_path {{ page.meta_image }} %}">
{% else %}
  <meta property="og:image" content="{{ site.url}}/images/og-image.jpg">
{% endif %}
