
.home-intro {
  @include griddo-container;
  margin-bottom: 40px;
}

.home-content {
  @include griddo-row;
}

.home-projects,
.home-blog {
  @include griddo-column;
  padding-bottom: 40px;

  @include breakpoint($ds-breakpoint-laptop) {
    @include griddo-width(6);
  }
}

.home-list {
  @extend %t-list-unstyled;
  line-height: 28px;
  margin-bottom: 40px;

  li {
    margin-bottom: 28px;
  }

  a {
    font-weight: $ds-font-weight-bold;
  }

  p {
    margin-bottom: 28px;
    padding-left: $ds-margin;

    li &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-border {
  @include background-image(linear-gradient(left top, $ds-color-orange, $ds-color-orange-dark));
  bottom: 0;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}
