body {
  padding: 0 0 80px;
}

@media (max-width: 600px) {
  .page-blog-post {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .t-hero {
    font-size: 2.5em;

    .gradient-border:after {
      height: 10px;
    }
  }

  .t-lead {
    font-size: 1em;
    line-height: inherit;
  }

  .home-blog h2,
  .home-projects h2 {
    font-size: 1.5em;
    margin-bottom: 1.2em;
    text-transform: none;
  }

  .blog-header h2 {
    font-size: 2em;
    text-transform: none;
  }

  .post {
    h1 {
      font-size: 2.2em;
    }
  }
}

pre {
  @include ds-polaroid;
  overflow: scroll;
}

.blog-header {

}

.gradient-break {
  @extend %gradient-border;
  @extend %gradient-border--thin;
  border: 0;
  display: block;
  margin: 0 auto ($ds-margin*1.66);
  width: 200px;
}
