//
// EM CALCULATOR
// This function must be here since it's used below.
$ds-rem-base: 20px !default;

// STRIP UNIT
// It strips the unit of measure and returns it
@function ds-strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function ds-rem($value, $base-value: $ds-rem-base)  {
  $value: ds-strip-unit($value) / ds-strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

//
// GLOBALS
//

// Breakpoints
$ds-breakpoint-smartphone: ds-rem(480px) !default;
$ds-breakpoint-tablet-small: ds-rem(600px) !default;
$ds-breakpoint-tablet: ds-rem(768px) !default;
$ds-breakpoint-laptop: ds-rem(992px) !default;
$ds-breakpoint-desktop: ds-rem(1200px) !default;
$ds-breakpoint-desktop-large: ds-rem(1600px) !default;
$ds-breakpoint-cinema: ds-rem(2146px) !default;

// Breakpoints: Device specifc
$ds-breakpoint-iphone-portrait: ds-rem(320px) !default;
$ds-breakpoint-iphone-landscape: ds-rem(480px) !default;
$ds-breakpoint-ipad-portrait: ds-rem(768px) !default;
$ds-breakpoint-ipad-landscape: ds-rem(1024px) !default;

// Colors
$ds-color-orange: #F77916 !default;
$ds-color-orange-dark: #b55015 !default;
$ds-color-orange-darkest: #a64912 !default;
$ds-color-green: #25C480 !default;

$ds-color-background: #F4E7B7 !default;
$ds-color-background-light: #fff !default;
$ds-color-border: #CEBD80 !default;
$ds-color-box-shadow: #B7B19C !default;
$ds-color-heading: #403E35 !default;
$ds-color-heading-dark: #333 !default;
$ds-color-highlight: #F9B57A !default;
$ds-color-link: $ds-color-orange !default;
$ds-color-link-hover: #403E35 !default;
$ds-color-link-vibrant: #E86F12 !default;
$ds-color-text: #5B5541 !default;
$ds-color-text-dark: #403E35 !default;
$ds-color-text-light: #93875D !default;

$ds-color-box-shadow: #B7B19C;
$ds-color-grey-contrast: #ececda;

// Directions
$ds-float: left !default;
$ds-float-opposite: right !default;
$ds-text-direction: ltr !default;

// Fonts
$ds-font-logo: "omnes-pro-i9", "omnes-pro", sans-serif !default;
$ds-font-family: "Source Sans Pro", "Helvetica Neue", sans-serif !default;
$ds-font-size: 20px !default;
$ds-font-smoothing: antialiased !default;
$ds-font-style: normal !default;
$ds-font-weight: 300 !default;
$ds-font-weight-bold: 700 !default;
$ds-font-weight-black: 900 !default;

// Headings
$ds-h1-font-size: ds-rem(60px) !default;
$ds-h2-font-size: ds-rem(32px) !default;
$ds-h3-font-size: ds-rem(26px) !default;
$ds-h4-font-size: 1rem !default;
$ds-h5-font-size: 1rem !default;
$ds-h6-font-size: 1rem !default;
$ds-headings-line-height: 1.4 !default;

// Measure
$ds-line-height: 1.45 !default;
$ds-margin: ds-rem(35px) !default;
$ds-padding: ds-rem(35px) !default;
$ds-radius: ds-rem(5px);

$ds-padding-smartphone-h: ds-rem(20px);
$ds-padding-smartphone-v: ds-rem(20px);
$ds-padding-smartphone: $ds-padding-smartphone-h $ds-padding-smartphone-v;

$ds-padding-tablet-h: ds-rem(30px);
$ds-padding-tablet-v: ds-rem(30px);
$ds-padding-tablet: $ds-padding-tablet-h $ds-padding-tablet-v;

$ds-padding-laptop-h: ds-rem(40px);
$ds-padding-laptop-v: ds-rem(40px);
$ds-padding-laptop: $ds-padding-laptop-h $ds-padding-laptop-v;

//
// GRIDDO
//

$griddo-gutter: ds-rem(60px) !default;
$griddo-row-width: ds-rem(1200px) !default;
